@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; /* font-family: 'Poppins', sans-serif;*/ list-style: none; scroll-behavior: smooth ;
}

body{ background-size: cover; background-repeat: no-repeat; overflow-x: hidden;

}
.btn{ align-items: center; background:#054e57; color:#dbcd53; text-decoration: none; border-radius: 25px; padding: 0.5rem 1rem; transition: all .3s ease; border: 2px solid #bed7d8; font-weight: 200;

}

.btn:hover{ box-shadow: 0 0 1rem #05226b; background: #dacd5c; color:#000 ; }